.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(6px);
  display: none; /* 기본은 안 보이게 */
  align-items: center; /* 세로 중앙 */
  justify-content: center; /* 가로 중앙 */
}

.modal-content {
  /* 중앙 정렬 관련 속성 제거 */
  /* position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%); */

  max-width: 40%;
  max-height: 40%;
  padding: 10;                  /* 원한다면 조금 여백 줘도 됨 */
  background: #000;            /* 영상 배경 */
  border-radius: 8px;          /* 필요 없으면 0 */
  color: white;

  display: flex;               /* 안쪽 비디오를 꽉 채우게 */
  align-items: center;
  justify-content: center;

  animation: fadeInOpacity 0.4s ease;
}
.modal video {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.skill_modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.close {
  position: absolute;   
  top: 23vh;            
  right: 30vw;          
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 2000;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
